<div class="row">
  <div class="one column">
    <label>Level</label>
    <input
      class="u-full-width"
      type="number"
      min="1"
      max="4"
      name="accessLevel"
      value="<%= book.accessLevel %>"
    />
  </div>
  <div class="four columns">
    <label>Title</label>
    <input
      class="u-full-width"
      type="text"
      name="title"
      value="<%= book.title %>"
    />
  </div>
  <div class="three columns">
    <label>Author</label>
    <select name="author" class="u-full-width">
      <% authors.forEach(author => { %> <% if (author.id === book.author) { %>
      <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
      </option>

      <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %> <% }) %>
      </option>
    </select>
  </div>
  <div class="four columns">
    <label>Series</label>
    <select name="series" class="u-full-width">
      <% series.forEach(series => { %> <% if (series.id === book.series) { %>
      <option selected label="<%= series.name %>" value="<%= series.id %>">
        <% } else { %>
      </option>

      <option label="<%= series.name %>" value="<%= series.id %>">
        <% } %> <% }) %>
      </option>
    </select>
  </div>
</div>
<div class="row">
  <div class="two columns">
    <label>Series Index</label>
    <input
      class="u-full-width"
      type="number"
      name="seriesIndex"
      value="<%= book.seriesIndex %>"
    />
  </div>
  <div class="two columns">
    <label>Publish Date</label>
    <input
      class="u-full-width"
      type="date"
      name="publishDate"
      value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>"
    />
  </div>
  <div class="two columns">
    <label>Word Count</label>
    <input
      class="u-full-width"
      type="number"
      min="1"
      name="wordCount"
      value="<%= book.wordCount %>"
    />
  </div>
  <div class="two columns">
    <label>Tags</label>
    <select name="tags" id="tags" class="u-full-width" multiple>
      <% tags.forEach(tag => { %> <% if (tag.id === book.tags) { %>
      <option selected label="<%= tag.name %>" value="<%= tag.id %>">
        <% } else { %>
      </option>

      <option label="<%= tag.name %>" value="<%= tag.id %>">
        <% } %> <% }) %>
      </option>
    </select>
  </div>
  <div class="four columns">
    <label>Cover</label>
    <input type="file" name="cover" class="filepond" />
  </div>
</div>
<label>Description</label>
<textarea class="u-full-width" name="description">
<%= book.description %></textarea
>
