<h2>Search Books</h2>
<form action="/books" method="GET">
  <div class="row">
    <div class="four columns">
      <label>Name</label>
      <input
        class="u-full-width"
        type="text"
        name="title"
        value="<%= searchOptions.title %>"
      />
    </div>
    <div class="two columns">
      <label>Min Words</label>
      <input
        class="u-full-width"
        type="number"
        name="minWordCount"
        value="<%= searchOptions.minWordCount %>"
      />
    </div>
    <div class="two columns">
      <label>Max Words</label>
      <input
        class="u-full-width"
        type="number"
        name="maxWordCount"
        value="<%= searchOptions.maxWordCount %>"
      />
    </div>
    <div class="two columns">
      <label>Pub. Before</label>
      <input
        class="u-full-width"
        type="date"
        name="publishedBefore"
        value="<%= searchOptions.publishedBefore %>"
      />
    </div>
    <div class="two columns">
      <label>Pub. After</label>
      <input
        class="u-full-width"
        type="date"
        name="publishedAfter"
        value="<%= searchOptions.publishedAfter %>"
      />
    </div>
  </div>
  <div class="text-center">
    <button type="submit">Search</button>
  </div>
</form>

<%- include('../partials/booksList.ejs') %>
