<h2>Search Books</h2>
<form action="/books" method="GET">
  <div class="row">
    <div class="one-third column">
      <label>Name</label>
      <input
        class="u-full-width"
        type="text"
        name="title"
        value="<%= searchOptions.title %>"
      />
    </div>
    <div class="one-third column">
      <label>Published Before</label>
      <input
        class="u-full-width"
        type="date"
        name="publishedBefore"
        value="<%= searchOptions.publishedBefore %>"
      />
    </div>
    <div class="one-third column">
      <label>Published After</label>
      <input
        class="u-full-width"
        type="date"
        name="publishedAfter"
        value="<%= searchOptions.publishedAfter %>"
      />
    </div>
  </div>
  <div class="btn-group">
    <button type="submit">Search</button>
  </div>
</form>

<div>
  <% books.forEach(book => { %>
  <a class="cover" href="/books/<%= book.id %>">
    <img src="<%= book.coverImagePath %>" alt="cover" <% if (book.accessLevel ==
    4) { %>class="blur"<% } %> />
  </a>
  <% }) %>
</div>
