<h2><%= book.title %></h2>

<div class="row">
  <div class="one-half column">
    <img
      class="u-max-full-width <% if (book.accessLevel == 4) { %>blur<% } %>"
      src="<%= book.coverImagePath %>"
      alt="cover"
    />
  </div>
  <div class="one-half column">
    <p>
      <i class="fa-solid fa-user"></i>
      <a href="/authors/<%= book.author.id %>"><%= book.author.name %> </a>
    </p>
    <% if (book.series) { %>
    <p>
      <i class="fa-solid fa-list-ol"></i>
      <a href="/series/<%= book.series.id %>"><%= book.series.name %></a>
    </p>
    <% } %> <% if (book.tags) { %>
    <p id="tags">
      <% book.tags.forEach(tag => { %>
      <i class="fa-solid fa-tags"></i>
      <a href="/tags/<%= tag.id %>"> <%= tag.name %> </a>
      <% }) %>
    </p>
    <% } %>
    <p>
      <i class="fa-solid fa-calendar"></i>
      Published: <%= book.publishDate.toDateString() %>
    </p>
    <p>
      <i class="fa-solid fa-arrow-down-1-9"></i>
      <%= book.wordCount %> words
    </p>
    <p>Access Level: <%= book.accessLevel %></p>
    <% if (user.role = "admin") { %>
    <div class="row">
      <div class="one-half column">
        <a class="button" href="/books/<%= book.id %>/edit">
          <i class="fa-solid fa-pen fa-lg"></i>
        </a>
      </div>
      <div class="one-half column">
        <%- include('../partials/deleteForm', { url: `/books/${book.id}` }) %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<p><%= book.description %></p>

<% if (user.username != "visitor") { %>
<p class="alert">
  To download this e-book, you will need an e-book reading app for your device.
  Popular ones include FBReader, Moon+ Reader, and iBooks.
</p>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Format</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a
          href="https://aspiring-writer.gitlab.io/books/<%= book.accessLevel %>/<%= book.author.name %>/<%= book.title %>.epub"
        >
          EPUB
        </a>
      </td>
      <td>Supported by most e-readers, smartphones, tablets, and computers.</td>
    </tr>
  </tbody>
</table>
<% } else { %>
<p class="alert">Sorry, visitors can't download books.</p>
<% } %>
