<h2><%= book.title %></h2>

<div class="row" style="margin-bottom: 2rem;">
  <div class="four columns">
    <img
      class="u-max-full-width"
      src="<%= book.coverImagePath %>"
      alt="cover"
    />
  </div>
  <div class="eight columns">
    <p>
      <i class="fa-solid fa-user"></i>
      <a href="/authors/<%= book.author.id %>"><%= book.author.name %> </a>
    </p>
    <% if (book.series != '<None>') { %>
    <p>
      <i class="fa-solid fa-list-ol"></i>
      <a href="/series/<%= book.series.id %>">
        <%= book.series.name %> #<%= book.seriesIndex %>
      </a>
    </p>
    <% } %> <% if (book.tags) { %>
    <p id="tags">
      <% book.tags.forEach(tag => { %>
      <i class="fa-solid fa-tags"></i>
      <a href="/tags/<%= tag.id %>"> <%= tag.name %> </a>
      <% }) %>
    </p>
    <% } %>
    <p>
      <i class="fa-solid fa-calendar"></i>
      Published: <%= book.publishDate.toDateString() %>
    </p>
    <p>
      <i class="fa-solid fa-arrow-down-1-9"></i>
      <%= book.wordCount.toLocaleString() %> words
    </p>
    <p>Access Level: <%= book.accessLevel %></p>
  </div>
</div>

<%- description %>

<%- include('../partials/adminButtons.ejs', { url: `/books/${book.id}` }) %> <% if (user.username != "visitor") { %>
<p class="alert">
  To download this e-book, you will need an e-book reading app for your device.
  Popular ones include FBReader, Moon+ Reader, and iBooks.
</p>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Format</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a
          href="https://aspiring-writer.gitlab.io/books/<%= book.accessLevel %>/<%= book.author.name %>/<%= book.title %>.epub"
        >
          EPUB
        </a>
      </td>
      <td>Supported by most e-readers, smartphones, tablets, and computers.</td>
    </tr>
  </tbody>
</table>
<% } else { %>
<p class="alert">Sorry, visitors can't download books.</p>
<% } %>
