<h2>Admin Dashboard</h2>

<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Date Created</th>
      <th>Role</th>
      <th>Level</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.username %></td>
      <td><%= user.dateCreated.toDateString() %></td>
      <td><%= user.role %></td>
      <td><%= user.accessLevel %></td>
      <td>
        <a href="/admin/<%= user.id %>/edit" class="button">
          <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form method="POST" action="/admin/<%= user.id %>?_method=DELETE">
          <button type="submit">
            <i class="fa-solid fa-trash fa-lg"></i>
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
